body {
	background: url("images/train.jpg");
	background-size: 120% 100%;
}

#trainlist {
	color: black;
}

.panel-heading {
	color: black !important;
	background-color: goldenrod !important;
}

.panel {
	background-color: white!important;
}

